language: go
go:
- 1.14.x

install:
- go get github.com/stretchr/testify/assert
- go get github.com/stretchr/testify/mock
- go get ./...
- go get golang.org/x/tools/cmd/cover
- go get github.com/mattn/goveralls

script:
- make test
- go test ./... -covermode=count -coverprofile=coverage.out
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN ;
  fi
- curl -sfL https://git.io/goreleaser | sh -s -- check

deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true

notifications:
  email:
    recipients:
      - mgrondines@coveo.com  